// standard Koodo breakpoints
// small  (0 - 767)
// medium (768 - 1099)
// large  (1100+)

// override production defaults
@media screen and (max-width: 360px) {
	.content {
		img {
			display: block !important;
			margin-left: auto !important;
			margin-right: auto !important;	
		}
		
		.cta-find-us img { margin: 0 !important; }
	}
}

@media screen and (max-width: 767px) {
	div#site-wrapper div#site-container { padding: 0; } // remove unwanted padding
}

// tablet view
@media screen and (min-width: 768px) {
	// sect#0 - Chinese New Years promotional banner
	.cny-banner {
		padding: 0 40px;
		justify-content: space-between; // side-by-side layout

		.short-copy-img { width: 20%; }

		.phone-img { width: 10%; }

		.long-copy-img {
			width: 60%;
			margin-top: 0;
		}
	}

	// sect#1 - Koodo marketing copy
	.koodo-info {
		padding: 70px 0 50px 0;

		img:nth-of-type(1) { width: 66%; }

		img:nth-of-type(2) {
			width: 40%;
			padding: 65px 0 50px 0;
		}

		img:nth-of-type(3) { width: 30%; }
	}

	// sect#2 - .store-locations container
	.store-locations { // side-by-side layout
		display: flex;
		flex-wrap: wrap;
	}

		.store-location {
			width: 50%; // 2x div.store-location elements per row
			padding: 60px 20px;

			// full width for last div.store-location elements
			// style applied only when last-child is an odd number
			&:last-of-type:nth-child(odd) { width: 100%; }

			.chinese-address { max-width: 180px; }
		}

			.address { font-size: 18px; }

			.cta-find-us { max-width: 160px; }

			a.telephone { display: none; } // on tablet/desktop, hide <a> element

			p.telephone { display: block; } // on tablet/desktop, show <p> element
}

// override production default
@media screen and (max-width: 1099px) and (min-width: 768px) {
	div#site-wrapper div#site-container { padding: 0; }
}

// desktop view
@media screen and (min-width: 1100px) {
	// sect#0 - Chinese New Years promotional banner
	.cny-banner {
		padding: 0;
		justify-content: space-between;

		.short-copy-img,
		.long-copy-img {
			width: 47%;

			img { margin: 0 auto; }
		}

		.short-copy-img img { max-width: 190px; }

		.phone-img { width: 6%; }

		.long-copy-img img {
			width: 85%;
			min-width: 425px;
		}

	}

	// sect#1 - Koodo marketing copy
	.koodo-info {
		padding: 90px 0 55px 0;

		img:nth-of-type(1) { max-width: 755px; }

		img:nth-of-type(2) {
			max-width: 460px;
			padding: 60px 0;
		}

		img:nth-of-type(3) { max-width: 340px; }
	}

	// sect#2 - .store-locations container
	.store-location {
		.chinese-address { max-width: 190px; }
	}

	.address, .telephone { font-size: 20px; }
}

@media screen and (min-width: 1160px) {
	.km-chinese { padding-bottom: 65px; } // same height as page title <h2> element
}