// brand colours
// https://app.zeplin.io/project.html#pid=5762b3cbc0b69d73245920de&sid=582f6af46954d5245d70a4b9
	$kBlueberry: #00aedb;
	$kTiffanyBlue: #8cd9ed;
	$kDarkBlue: #003087;
	$kDarkBlueHover: #00205c;
	$kLightLime: #e9ec6b;
	$kActiveGrey: #c9c8c8;
	$kTangerine: #fbaf34;
	$kLightTangerine: #fdd26e;
	$kRaspberry: #ee2c74;

// standardized classes

/*
.km-chinese {
	.clearfix:after {
		clear: both;
		content: " ";
		display: block;
		font-size: 0;
		height: 0;
		visibility: hidden;
	}
}
*/

// standardized font classes (access with @extend .font-class-name)
.koodo-glyphs-regular,
.stag-sans-semibold-web {
	font-stretch: normal;
	font-style: normal;
}

.koodo-glyphs-regular {
	// "koodo_glyphsregular" for localhost, "koodings" for production
	font-family: "koodo_glyphsregular", "koodings";
	font-weight: normal;
}

.stag-sans-semibold-web {
	font-family: "Stag Sans Web";
	font-weight: 600;
}